@media(max-width:935px){
  .header-main{
    margin-left: 150px;
    margin-right: 200px;
  }
}
@media(max-width:780px){
    .footer-team{
        font-size: 13px;
    }
    .paragraph-copyright{
        font-size: 13px;
    }
    .copy-right-header{
      margin-right: 0;
    }
}
@media(max-width:768px){
    
  .header-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  

  .header-icons {
    margin-top: 10px;
    justify-content: center;
    flex-direction: row;
  }
  .social-icon{
    width: 30px;
    height: 30px;
    margin-top: 18px;
  }
  .social-icon img {
    width: 22px;
    height: 22px;
  }

  .head-site {
    font-size: 24px;
  }

  .head-p {
    font-size: 16px;
  }

        .link-footer.header{
            width: 30px;
            height: 30px;
        }
        
}
@media(max-width:667px){
    .copy-right-data{
        flex-direction: column;
        padding:20px 1px;
    }
    .footer-team{
        font-size: 14px;
        padding: 3px 1px;
    }
    .paragraph-copyright{
        font-size: 14px;
    }
}
@media(max-width: 600px){
  .header-main {
    display: flex;
    flex-direction: column; /* زیر هم قرار گرفتن */
    align-items: center;     /* وسط‌چین کردن همه */
    justify-content: center;
    margin: 0;              /* حذف margin‌های بزرگ */
    padding: 10px;
  }

  .logo-wrapper {
    margin: 0 auto; /* وسط‌چین لوگو */
  }




 
}

@media(max-width:480px){
  .head-site {
    font-size: 20px;
  }

  .head-p {
    font-size: 14px;
  }

  .social-icon img {
    width: 25px;
    height: 25px;
  }
    .menu-section aside{
        width: 100px;
    }
    .name-cat{
        font-size: 14px;
    }
    .header-main{
      flex-direction: column;       /* چینش عمودی */
      align-items: center;          /* وسط چین عمودی */
      justify-content: center;      /* وسط چین افقی */
      margin: 0;                    /* حذف margin منفی */
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
    }
    .header-main1{
        margin-top: 190px;
    }
    .header-div{
        padding-bottom: 27px;
        
    }
    .container{
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
      }
      .card{
        width: 185px;
        margin-right: -40px;
      }
      .description{
        font-size: 10px;
      }
      .price-item{
        font-size: 12px;
      }
      
    
    
      
}
@media(max-width:346px){
    
    .description{
        font-size: 15px;  
  }
  .container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .card{
    width: 160px;
    margin-right: -45px;
  }
  .description{
    font-size: 14px;
  }
  .price-item{
    font-size: 12px;
    margin-right: -1px;
  }
 
}